extends template/_layout.pug
block title
  title :: 스타트업쿠 커뮤니티 - home ::
block append cdn
block append css
block append script
block append header
block main 
  section#home.home-wrap
    div