header
  //- a.menu-toggle
  //-   i.fa.far-bar
    //- -var mainCategory = {
    //-   해우소:['아이템1','아이템2'],
    //-   트렌드:['아이템1','아이템2'],
    //-   창업공고:['아이템1','아이템2'],
    //-   창업상식:['아이템3'],
    //-   공지문의:['아이템4']
    //- }
  nav#nav.main-nav
    ul.nav-wrap
      li.category-title
        span
          h2 네버스타트업 
        span.allow-icon.nav-close.glyphicon.glyphicon-chevron-up
        span.allow-icon.nav-show.glyphicon.glyphicon-chevron-down
      li.category-box.row
        div.category-list-wrap.col-lg-3.col-md-6.col-sm-6.col-xs-12
          h4 해우소  
          div.list-wrap
            p.list-line
              a(href="#").list-item 카테고리
              a(href="#").list-item 카테고리
        div.category-list-wrap.col-lg-3.col-md-6.col-sm-6.col-xs-12
          h4 평민기업 진입
          div.list-wrap
            p.list-line
              a(href="#").list-item 카테고리
              a(href="#").list-item 카테고리
        div.category-list-wrap.col-lg-3.col-md-6.col-sm-6.col-xs-12
          h4 양반기업 성장
          div.list-wrap
            p.list-line
              a(href="#").list-item 카테고리
              a(href="#").list-item 카테고리
            p.list-line
              a(href="#").list-item 카테고리
              a(href="#").list-item 카테고리
        div.category-list-wrap.col-lg-3.col-md-6.col-sm-6.col-xs-12
          h4 왕기업 유지 
          div.list-wrap
            p.list-line
              a(href="#").list-item 카테고리
              a(href="#").list-item 카테고리